<html>
    <head>
        <title> Strength Calculator </title>
    </head>
    <body>
        <div style = "background-color:#fca523; ">
        <h1> Concrete Strength Predictor </h1>    
        <form action="/strength" method="post">
            <label>Cement kg/m3:</label><input type ="float" name="html_cement"><br><br>
            <label>Blast Furnace Slag:</label><input type ="float" name="html_bfs"><br><br>
            <label>Fly Ash:</label><input type ="float" name="html_fly"><br><br>
            <label>Water:</label><input type ="float" name="html_water"><br><br>
            <label>Superplasticizer:</label><input type ="float" name="html_sp"><br><br>
            <label>Coarse Aggregate:</label><input type ="float" name="html_ca"><br><br>
            <label>Fine Aggregate:</label><input type ="float" name="html_fa"><br><br>
            <label>Age in days:</label><input type ="float" name="html_age"><br><br>
            </select>
            <br><br>
        <input type="SUBMIT" value="Check Compressive Strength">
        <br><br>

        </form>
            

        </div>
    </body>
</html>